/* code for tags */
h1, h2 {
  margin: 0 0;
}

video {
  display: block;
}

/* specialised code for other elements */
.test-wrapper, .test-wrapper-split {
  border: 5px solid grey;
  width: auto;
  margin: 16px;
  margin-bottom: 32px;
}

.test-wrapper > * {
  vertical-align: top;
}

.test-wrapper {
  padding: 16px;
}

.test-wrapper-split {
  padding: 0px;
}

#video-container, #video-container-fullwidth {
  display: inline-block;
  height: 100%;
}

#video-container {
  width: 58%;
  padding: 16px;
  position: relative;
}

#video-container-fullwidth {
  width: 100%;
}

.effectButton {
  font-size: 24px;
  display: inline-block;
  width: 93px;
}

.effectTextBox {
  font-size: 24px;
  display: inline-block;
  resize: none;
  width: 93px;
  padding: 8px;
}

.controlGroup {
  display: inline-block;
  margin-right: 25px;
}

.controlGroupLast {
  display: inline-block;
  margin-right: 0;
}

.controls-wrapper {
  width: calc(40%-40px);
  padding: 16px;
  display: inline-block;
}

.control-header {
  margin-top: 32px;
}

.invalidValueAlerts {
  color: red;
  display: none;
  width: 93px;
}

#below {
  z-index: 1;
  display: inline-block;
  position: relative;
}

#above {
  float: left;
  z-index: 2;
  position: relative;
}

#split-right, #split-left {
  vertical-align: bottom;
  text-align: center;
  position: relative;
  margin: 0 0;
  padding: 16px;
  display: inline-block;
}

#split-right {
  padding-top: 4%;
  padding-bottom: 4%;
  /* I am the worst web developer to ever walk the face of the Earth. */
  width: 70%;
  border-left: 5px solid grey;
}

#split-left {
  float: left;
  width: 30%;
  left: 0;
}

#split-left > * {
  margin-top: 50%;
  margin-bottom: 50%;
  /* somebody tell me why the hell this works */
}
