h1 {
  margin: 0 0;
}

h2 {
  margin: 0 0;
}

/* specialised code for other elements*/
.test-wrapper {
  border: 5px solid grey;
  padding: 16px;
}

.test-wrapper > * {
  vertical-align: top;
}

#video-container {
  display: inline-block;
  padding: 16px;
}

.effectButton {
  font-size: 24px;
  display: inline-block;
  width: 93px;
}

.effectTextBox {
  font-size: 24px;
  display: inline-block;
  resize: none;
  width: 93px;
  padding: 8px;
}

.controls-wrapper {
  padding: 16px;
  display: inline-block;
}

.control-header {
  margin-top: 32px;
}

#invalidValueAlertGrayscale, #invalidValueAlertSaturation {
  color: red;
  display: none;
}