h1 {
  margin: 0 0;
}

h2 {
  margin: 0 0;
}

/* specialised code for other elements*/
.test-wrapper {
  border: 5px solid grey;
  padding: 16px;
  width: auto;
}

.test-wrapper > * {
  vertical-align: top;
}

#video-container {
  display: inline-block;
  padding: 16px;
  width: 58%;
  height: 100%;
}

.effectButton {
  font-size: 24px;
  display: inline-block;
  width: 93px;
}

.effectTextBox {
  font-size: 24px;
  display: inline-block;
  resize: none;
  width: 93px;
  padding: 8px;
}

.controlGroup {
  display: inline-block;
  margin-right: 25px;
}

.controlGroupLast {
  display: inline-block;
  margin-right: 0;
}

.controls-wrapper {
  width: calc(40%-40px);
  padding: 16px;
  display: inline-block;
}

.control-header {
  margin-top: 32px;
}

.invalidValueAlerts {
  color: red;
  display: none;
  width: 93px;
}